.about-page {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.about-content section {
  margin-bottom: 40px;
}
.about-content p {
  font-size: 17px;
  color: #444;
}

@media (max-width: 768px) {
 

  .about-content p {
    font-size: 15px;
  }
}
/* privacy policy */
.privacy-page {
  font-family: 'Poppins', sans-serif;
  color: #333;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.7;
}

.privacy-container h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #b68944; /* Nishat brand color */
}

.privacy-container h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #222;
}

.privacy-container h3 {
  font-size: 20px;
  margin: 10px 0 10px 0;
  color: #555;
}

.privacy-container p {
  font-size: 16px;
  margin-bottom: 15px;
}

.privacy-container ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

.privacy-container li {
  margin-bottom: 8px;
}

.privacy-container a {
  color: #000000;
  text-decoration: none;
}

.privacy-container a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .privacy-container h1 {
    font-size: 28px;
  }

  .privacy-container h2 {
    font-size: 24px;
  }

  .privacy-container p, .privacy-container li {
    font-size: 15px;
  }
}
