.contact-page {
  font-family: 'Poppins', sans-serif;
}

/* Map */
.map-container iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

/* Main Content */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  gap: 88px;
}

.contact-left,
.contact-right {
  flex: 1;
}

/* Contact Form */
.contact-left h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact-left p {
  margin-bottom: 25px;
  font-size: 16px;
  color: #555;
}

.contact-left form input,
.contact-left form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-left form button {
  padding: 12px 350px;
 background-color: #ffffff;
  color: #000000;
  border: solid  #333;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.3s;
}

.contact-left form button:hover {
  background-color: #000000;
  color: white;
}

.success-msg {
  margin-top: 10px;
  color: green;
  font-size: 14px;
}

/* Contact Info */
.contact-right h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact-right p {
  margin-bottom: 30px;
  font-size: 20px;
  color: #555;
  line-height: 1.4;
}

.contact-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 37px;
  font-size: 18px;
  color: #333;
}

.contact-info svg {
  /* color: #b68944; */
  font-size: 20px;
}

/* Responsive */
@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
    padding: 30px 20px;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }
}
