.user-sidebar {
  position: fixed;
  top: 0;
  right: -405px;
  width: 330px;
  height: 100%;
  background: #fff;
  padding: 25px;
  transition: 0.3s ease;
  box-shadow: -3px 0 10px rgba(0,0,0,0.2);
  z-index: 999;
}

.user-sidebar.open {
  right: 0;
}

.user-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  font-size: 22px;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 5px;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: black;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.switch-text {
  margin-top: 10px;
  font-size: 14px;
}

.link {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 998;
}
